name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [18.x, 22.x]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      # https://pnpm.io/next/continuous-integration#github-actions
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.27.0

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache ~/.pnpm-store
        uses: actions/cache@v4
        env:
          cache-name: cache-pnpm-store
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ matrix.node-version }}-test-${{ env.cache-name }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-${{ matrix.node-version }}-test-
            ${{ runner.os }}-

      - name: Install dependencies
        run: pnpm install

      - run: pnpm build
      - run: pnpm lint
      - run: pnpm test

  release:
    needs: ['test']
    if: "!contains(github.event.head_commit.message, 'skip release') && !contains(github.event.head_commit.message, 'skip ci') && github.event_name != 'pull_request'"
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [22.x]

    name: Release
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      # https://pnpm.io/next/continuous-integration#github-actions
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.27.0

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache ~/.pnpm-store
        uses: actions/cache@v4
        env:
          cache-name: cache-pnpm-store
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ matrix.node-version }}-release-${{ env.cache-name }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node-version }}-release-${{ env.cache-name }}-
            ${{ runner.os }}-${{ matrix.node-version }}-release-
            ${{ runner.os }}-

      - name: Install dependencies
        run: pnpm install

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm ci:publish-packages
          commit: "chore: update versions"
          title: "chore: update versions"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
